@using HostIsle.Web.Hotels.ViewModels.Hotels
@model HotelInformationViewModel
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-12">
                <h3>Служители</h3>
                <p class="text-subtitle">
                    Тук може да следите прогреса на вашите служители и да управлявате
                    профилите им.
                </p>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Служители
            </div>
            <div class="card-body">
                <div class="col-md-12">

                    <table class='table table-striped' id="table1">
                        <thead>
                            <tr>
                                <th>Профил</th>
                                <th>Име</th>
                                <th>Служител</th>
                                <th>Детайли</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cleaner in this.Model.Cleaners)
                            {
                                <tr>
                                    <td>
                                        <div class="avatar bg-warning ">
                                            <img src="@cleaner.User.ImageUrl">
                                        </div>
                                    </td>
                                    <td>@cleaner.User.FirstName @cleaner.User.LastName</td>
                                    <td>Камериер</td>
                                    <td><a asp-controller="Employees" asp-action="Overview" asp-route-id="@String.Concat(this.Model.Hotel.Id, " ", this.Model.Role, " ", cleaner.User.Id, " камериер")">Отвори</a></td>

                                </tr>
                            }

                            @foreach (var receptionist in this.Model.Receptionists)
                            {
                                <tr>
                                    <td>
                                        <div class="avatar bg-warning ">
                                            <img src="@receptionist.User.ImageUrl">
                                        </div>
                                    </td>
                                    <td>@receptionist.User.FirstName @receptionist.User.LastName</td>
                                    <td>Рецепционист</td>
                                    <td><a asp-controller="Employees" asp-action="Overview" asp-route-id="@String.Concat(this.Model.Hotel.Id, " ", this.Model.Role, " ", receptionist.User.Id, " рецепционист")">Отвори</a></td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>

</div>