<div class="main-content container-fluid">
    <div class="page-title">
        <h3>@this.Model.User.FirstName @this.Model.User.LastName - @this.Model.EmployeeRole </h3>
        <p class="text-subtitle text-muted">Тук можете да следите и управлявате профила на конкретния служител.</p>
    </div>
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form method="post" asp-controller="Employees" asp-action="Update" asp-route-id="@string.Concat(this.Model.User.Id, " ", this.Model.Hotel.Id, " ", this.Model.Role)" class="form">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Име</label>
                                            <input asp-for="EditUserViewModel.FirstName" type="text" class="form-control" id="firstName" placeholder="@this.Model.User.FirstName" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Фамилия</label>
                                            <input asp-for="EditUserViewModel.LastName" type="text" class="form-control" id="lastName" placeholder="@this.Model.User.LastName" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button id="hiddenButton" type="submit" class="btn btn-primary mr-1 mb-1" style="visibility: hidden">
                                            Запази
                                        </button>
                                        <button id="edit" onclick="enable('firstName', 'lastName', 'hiddenButton', 'edit')" type="button"
                                                class="btn btn-primary mr-1 mb-1">
                                            Редактирай
                                        </button>
                                        <script>
                                            function enable(firstName, lastName, hiddenButton, edit) {
                                                document.getElementById(firstName).disabled = false;
                                                document.getElementById(lastName).disabled = false;
                                                document.getElementById(edit).disabled = true;

                                                document.getElementById(hiddenButton).style.visibility = "visible";
                                            }
                                        </script>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Регистрирани гости</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="bar"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>