@{
    var data = (HotelInformationViewModel)this.ViewBag.Model;
    this.Layout = "_UsersLayout";
}
<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Сигнали</h3>
        <p class="text-subtitle text-muted">Тук може да следите и отбелязвате сигналите като обработени.</p>
    </div>
    @if (data.Hotel.Feedbacks.Any(s => !s.IsProcessed))
    {
        <section>
            <div class="row">
                <h5>Необработени</h5>
            </div>
            <br />
            <div class="row row-cols-1 row-cols-md-4 g-4">
                @foreach (var signal in data.Hotel.Feedbacks.Where(s => !s.IsProcessed))
                {
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">@signal.Title</h5>
                                <p class="card-text">Стая @signal.Reservation.Room.RoomNumber</p>
                                <p class="card-text">@signal.Date.Date.ToString("dd.MM.yyyy") г.</p>
                                <p class="card-text">@signal.Content</p>
                            </div>
                            <form asp-controller="Signals" asp-action="Proccess" asp-route-id="@String.Concat(signal.Id, " ", this.Model.Role)" method="post">
                                <input type="submit" value="Отбележи" class="btn btn-default" />
                            </form>
                            <br />
                        </div>
                    </div>
                }
            </div>
            <br />
        </section>
    }

    <br />

    @if (data.Hotel.Feedbacks.Any(s => s.IsProcessed))
    {
        <section>
            <div class="row">
                <h5>Обработени</h5>
            </div>
            <br />
            <div class="row row-cols-1 row-cols-md-4 g-4">
                @foreach (var signal in data.Hotel.Feedbacks.Where(s => s.IsProcessed))
                {
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">@signal.Title</h5>
                                <p class="card-text">Стая @signal.Reservation.Room.RoomNumber</p>
                                <p class="card-text">@signal.Date.Date.ToString("dd.MM.yyyy") г.</p>
                                <p class="card-text">Обработено от @signal.ProcessedByEmployee.FirstName @signal.ProcessedByEmployee.LastName</p>
                                <p class="card-text">@signal.Content</p>
                            </div>
                            <form asp-controller="Signals" asp-action="Delete" asp-route-id="@String.Concat(signal.Id, " ", data.Role)" method="post">
                                <input type="submit" value="Изтрий" class="btn btn-default" />
                            </form>
                            <br />
                        </div>
                    </div>
                }
            </div>
            <br />
        </section>
    }
</div>