@using HostIsle.Data.Models.Hotels.Enums
@{
    var cleanings = this.Model.Reservation.Room.Cleanings.Where(cleaning => cleaning.Date >= this.Model.Reservation.StartDate && cleaning.Date <= this.Model.Reservation.EndDate).ToList();
}
<div class="main-content container-fluid">
    <div class="page-title">
        <h3>@this.Model.Hotel.Name, @this.Model.Hotel.Town.Name</h3>
        <p class="text-subtitle text-muted">@this.Model.User.FirstName @this.Model.User.LastName @this.Model.Reservation.StartDate.Day - @this.Model.Reservation.EndDate.Date.Date.ToString("dd.MM.yyyy")</p>
    </div>
    <section class="section">
        <div class="row mb-2">
            <div class="col-12 col-md-3">
                <a href="#">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>ДЕН</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>@((DateTime.Now.AddDays(1) - this.Model.Reservation.StartDate).Days) </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a href="#">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>ПОЧИСТВАНИЯ</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>@cleanings.Count</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a asp-controller="Signals" asp-action="All" asp-route-id="@String.Concat(this.Model.Hotel.Id, " ", this.Model.Role)">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>СИГНАЛИ</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>@this.Model.Reservation.Feedbacks.Count </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a asp-controller="Events" asp-action="All" asp-route-id="@String.Concat(this.Model.Hotel.Id, " ", this.Model.Role)">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>СЪБИТИЯ</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>@this.Model.Hotel.Events.Count</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="section">
        <section class="section">
            @if (cleanings.Any(cleaning => cleaning.Date.ToString("dd.MM.yyyy") == DateTime.Now.ToString("dd.MM.yyyy") && cleaning.Status == CleaningStatus.Upcoming))
            {
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Прескочи почистване</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Прескочете предстоящото почистване за деня.
                        </p>
                        <button type="button" class="btn btn-outline-primary block" data-toggle="modal" data-target="#default">
                            Прескочи
                        </button>

                        <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel1">Прескочи почистване</h5>
                                        <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Сигурни ли сте, че искате да прескочите вашето почистване?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Затвори</span>
                                        </button>
                                        <form method="post" asp-controller="Cleanings" asp-action="Skip" asp-route-id="@this.Model.Reservation.RoomId">
                                                <button type="submit" class="btn btn-primary float-right">Прескочи</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Почиствания</h4>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Почистил</th>
                                            <th>Щети</th>
                                            <th>Статус</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cleaning in cleanings.OrderByDescending(cleaning => cleaning.Date))
                                        {
                                            var damages = @cleaning.IsDamaged ? "Да" : "Не";
                                            var status = cleaning.Status == CleaningStatus.Upcoming ? "Предстоящо"
                                                : cleaning.Status == CleaningStatus.Done ? "Минало" : "Прескочено";

                                            <tr>
                                                <td>@cleaning.Date.ToString("dd.MM.yyyy") г.</td>
                                                <td>@(cleaning.Cleaner != null ? Html.Raw($"{cleaning.Cleaner.FirstName} {cleaning.Cleaner.LastName}") : Html.Raw("-"))</td>
                                                <td>@(cleaning.Status != CleaningStatus.Done ? "-" : @damages)</td>
                                                <td>@status</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
